deployment
*.launch
*.lock
*.bak
.classpath
.project
proxies
.DS_Store
*.svn
.vscode/
*.code-workspace
GPUCache
src/javasource/objecthandling
src/javasource/system
src/javasource/unittesting
src/javasource/administration
src/javasource/atlas_ui_resources
theme/ 
widgets/
src/userlib/junit-4.11.jar
src/userlib/junit-4.11.jar.UnitTesting.RequiredLib
src/userlib/org.apache.commons.io-2.3.0.jar
src/userlib/org.apache.commons.io-2.3.0.jar.UnitTesting.RequiredLib
src/userlib/org.apache.commons.lang3.jar
src/userlib/org.apache.commons.lang3.jar.ObjectHandling.RequiredLib
src/userlib/org.apache.commons.lang3.jar.UnitTesting.RequiredLib
src/userlib/org.apache.httpcomponents.httpclient_4.4.1.jar
src/userlib/org.apache.httpcomponents.httpclient_4.4.1.jar.UnitTesting.RequiredLib
src/userlib/org.apache.httpcomponents.httpcore_4.4.1.jar
src/userlib/org.apache.httpcomponents.httpcore_4.4.1.jar.UnitTestingRequiredLib
